.web61{
    color: rgb(255, 0, 140);
    font-family: fantasy;
    font-size: 60px;
    text-decoration: none;
    border: violet;
    top: 10px;
    left: 30px;
    padding: 10px;
    background-color: thistle;
}
.menu{
    list-style-type: none;
   background-image: linear-gradient(rgb(16, 67, 134),rgb(54, 146, 150));
    overflow: auto;
}
.menu li{
    float: left;
    padding: 20px;

}
.menu li:hover{
    background-image: linear-gradient(rgb(243, 72, 72),rgb(226, 189, 24));
}
.menu li a{
    
    text-decoration: none;
    color: rgb(235, 135, 227);
}
.submenu{
    border: solid;
    border-radius: 6px;
    border-color: violet;
    display: block;
    list-style-type: none;
    background-image: linear-gradient(rgb(10, 44, 95),rgb(165, 40, 117));
    overflow: auto;
    padding-left: 0px;
    position: absolute;
    
    
}
.submenu li{
    float: none;
    
}
.submenu li:hover{
    background-color: rgb(180, 141, 149);
    display: block;
}

section{
    width: 100%;
    height: 100vh;
    background: url(web6.png);
}